<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GetUser</title>
</head>
<body>
    <form action="http://localhost:3000/users/" method="post">
        <h1>ADD USER</h1>
        <input type="text" name="name" placeholder="name"><br><br>
        <input type="email" name="email" placeholder="email"><br><br>
        <input type="text" name="contactNo" placeholder="Phone number"><br><br>
        <button type="submit">Add User</button>
    </form>
</body>
</html>